body{
    font-family: 'Roboto', sans-serif;
    margin:0;
    text-transform: capitalize;
}
h1{
    font-size: 50px;;
}
h2{
    font-size: 30px;
}
.skip{
    color:cornflowerblue;
}
.flexible-container{
    display: flex;
    margin-bottom: 100px;
    
}
.hero-container{
    width: 50%;
    padding: 5%;
    
}
.hero-container img{
    width: 100%;
    
}
.hero-container h2{
    color: cornflowerblue;
}
.hero-p {
    margin-bottom: 30px;
}
.link-button{
    color: antiquewhite;
    text-decoration: none;
    border-radius: 17px;
    background-image: linear-gradient(109.6deg, rgba(156,252,248,1) 11.2%, rgba(110,123,251,1) 91.1%);
    padding: 8px 17px;
    font-size: 15px;
    
}
.about-section{
    background-image: url(images/shapes/Frame-57.jpg);
    background-repeat: no-repeat;
}
.about-p{
    margin-bottom: 55px;
}

.recipie-title{
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    border: 3px solid cornflowerblue;
    padding: 7px;
    border-radius: 5px;
    margin-bottom: 30px;
}
.recipie-title h2{
    text-align:center;
    color:cornflowerblue;
}
.cover{
    width: 60%;
    border-radius: 15px;
    margin-left: 80px;
    margin-top: 10px;
}
.recipie-cointainer{
    width: 35%;
    margin-left: 7.5%;
    padding: 5px;
}
#Recipie-title1{
    box-shadow: 0px 0px 20px dodgerblue;
    border-radius: 10px;
    border-left: 5px dotted cornflowerblue;
    border-top: 5px solid dodgerblue;
    
}
#Recipie-title2{
    box-shadow: 0px 0px 15px cornflowerblue;
    border-radius: 10px;
    border-right: 5px dotted cornflowerblue;
    border-bottom: 5px solid dodgerblue;

}
